/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;
}

header, footer {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

